.auth-container {
  max-width: 380px;
  margin: 80px auto;
  padding: 25px;
  background: #441b1b;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}
h2{
  color: white;
}
p{
  color: azure;
}
.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #c66b6b;
}

.auth-container button {
  width: 90%;
  padding: 10px;
  background: #e12c18;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
}

.auth-container button:hover {
  background: #612904;
}

.error {
  color: red;
  font-size: 13px;
}

.auth-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.auth-link:hover {
  color: #af4343;
}


